    p {
    background-color:antiquewhite;
    font-family: Georgia, serif;
    font-size: 1.1em;
    font-style: italic;
    margin-left: 80px;
    margin-right: 70px;
    color: rgb(25, 33, 46);
    }

    h6{
        text-align: right;
        margin-left: 70px;
        margin-right: 70px;
    }

    h5{
        text-align: center;
        font-style: italic;
    }
  